certifi==2022.9.24 ; python_version >= "3.10" and python_version < "4"
charset-normalizer==2.1.1 ; python_version >= "3.10" and python_version < "4"
idna==3.4 ; python_version >= "3.10" and python_version < "4"
requests==2.28.1 ; python_version >= "3.10" and python_version < "4"
ruff==0.0.114 ; python_version >= "3.10" and python_version < "4.0"
urllib3==1.26.12 ; python_version >= "3.10" and python_version < "4"
